.orange_bg {
  background: #cc6600 !important;
  &.button:hover {
    background: #cc6600 !important;
  }
}


.bright_blue_bg {
  background: #3399ff !important;
  &.button:hover {
    background: #3399ff !important;
  }
}


button, .button, .select-buttons li, .SECalendarPrevMonth, .SECalendarNextMonth {
  border: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  font-family: $font-stack;
  font-weight: 300;
  font-style: normal;
  color: #FFF;
  font-size: 16px;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 15px;
  opacity: .9;
  font-weight: normal;
}

.select-buttons li {
  display: inline;
}

button:hover, .button:hover, .select-buttons li:hover {
  opacity: 1;
}

button a {
  color: #fff;
  border-bottom: none !important;
  &:hover, &:visited {
    color: #fff;
  }
}

.button a {
  color: #fff;
  border-bottom: none !important;
  &:hover, &:visited {
    color: #fff;
  }
}

.select-buttons li a {
  color: #fff;
  &:hover, &:visited {
    color: #fff;
  }
}

footer.timely.ai1ec-event-footer {
    background: inherit;
}

.timely p {
  font-size: 16px;
  font-family: $font-stack !important;
}

.ai1ec-event-time, span.ai1ec-event-title, .ai1ec-event-details {
  font-family: $font-subhead !important;
}

.ai1ec-agenda-widget-view .ai1ec-date {
  background: none !important;
  &.ai1ec-today {
    background: none !important;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none !important;
  background: none !important;
}

.timely {
  font-family: inherit !important;
}

.ai1ec-agenda-widget-view {
  .ai1ec-event {
    .ai1ec-event-time, > a {
      color: $black;
    }
  }
  .ai1ec-date.ai1ec-today {
    border-top: none;
  }
}

.ai1ec-agenda-view .ai1ec-date.ai1ec-today {
  border-top: none;
}