.pagination {
  clear: both;
  padding: 20px 0;
  position: relative;
  font-size: 11px;
  line-height: 13px;
  span {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff !important;
    background: #555;
  }
  a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff !important;
    background: #555;
    &:hover {
      color: #fff;
      background: #3279BB;
    }
  }
  .current {
    padding: 6px 9px 5px 9px;
    background: #3478b6;
    color: #fff;
  }
}

//Foundation Tab Titles

.single-people .tabs {
  dd a, li a {
    outline: none;
    display: block;
    background-color: #efefef;
    color: #222222;
    padding: 0.88889rem 1rem;
    font-family: $font-stack;
    font-weight: 300;
    font-style: normal;
    font-size: 0.88889rem;
  }
}

.tabs dd.active a {
  background-color: #fff!important;
}

.news img {
  max-width: 45%;
}

.wp-caption img {
  max-width: 100%;
}

p.wp-caption-text {
  font-size: 80%;
  color: #666;
  text-align: center;
  max-width: 85%;
}

.four.columns .video_thumb .icon-play:before {
  top: 23%;
  left: 36%;
}

.three.columns .video_thumb .icon-play:before {
  top: 18%;
  left: 33%;
}

.video_thumb.full .icon-play:before {
  top: 35%;
  left: 38%;
}

.contain-to-grid {
  background: inherit;
  border-radius: 10px;
  .top-bar {
    border-radius: 10px;
  }
}

.subheader {
  color: $black !important;
}

a.button {
color: white!important;
}

// style placeholder text cross browser
    ::-webkit-input-placeholder {
      color: $grey;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: $grey;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: $grey;
    }

    :-ms-input-placeholder {
       color: $grey;
    }