/*#logo_nav li.logo, .mobile-logo {
  width: 222px;
  height: 162px;
  padding: 0;
  position: absolute;
  margin-top: -61px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#logo_nav li.logo a {
  background: url('../images/logo.png') no-repeat top;
  width: 182px;
  height: 142px;
  text-indent: -9999px;
  position: absolute;
  top: 20px;
  left: 20px;
}*/

li.logo { 
  list-style: none;
  img {
  background: #000;
  background: rgba(0,0,0,0.75);
  margin-left: 5px;
  padding: 20px 10px 10px;
  margin-top: -61px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
}

.mobile-logo {
  position: relative;
  height: 122px;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
 /* a {
    background: url('../images/logo.png') no-repeat top;
    width: 222px;
    height: 133px;
    margin-top: -61px;
    text-indent: -9999px;
    position: absolute;
  }*/
}

/*#logo_nav li.logo {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.75);
  margin-left: 24px;
}*/

.mobile-logo {
  a {
    margin-top: 0;
  }
  margin: 0 auto;
}

#logo_nav {
  background: rgb(51, 102, 153);
  background: rgba(51, 102, 153, 0.9);
  width: 100%;
  max-width: 1000px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  /*padding-bottom: 20px;*/
  h1 {
    /*margin: 30px 0 0 280px;*/
    margin-top:30px;
    line-height: 1.1em;
    padding-right: 3px;
    span.small {
      display: block;
      line-height: 1em;
    }
  }
}

#search-bar {
  background: #333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ccc;
  text-transform: uppercase;
  font-family: $font-subhead;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  margin-bottom: 10px;
  .columns {
    padding: 0;
  }
  a {
    color: #FFF;
    font-size: 9px;
    letter-spacing: 1px;
  }
  .links {
    margin-top: inherit;
  }
}

.links li {
  list-style: none;
  display: inline;
  &:after {
    content: " | ";
  }
  &:last-child:after {
    content: "";
  }
}

#search-bar input {
  &[type="text"] {
    height: 31px;
    margin-bottom: 0px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.75);
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline;
    float: left;
    width: 75%;
    border: none;
  }
  &[type="submit"] {
    background: #666;
    height: 31px;
    width: 30px;
    font-family: 'flagship-icon';
    -webkit-border-top-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 16px;
    border: none;
    float: left;
    padding: 0;
    color: #ccc;
  }
}